@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: "EpilogueNormal";
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url("../fonts/Epilogue-VariableFont_wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "EpilogueBold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Epilogue-VariableFont_wght.ttf") format("truetype");
  }
  
  html {
    font-family: "EpilogueNormal";
    font-size: 18px;
  }
}

.dropdown-icon:after {
  position: relative;
  content:url('../images/icon-arrow-down.svg');
  top: -2px;
  padding-left: 0.4rem;
}

.active.dropdown-icon:after {
  position: relative;
  content:url('../images/icon-arrow-up.svg');
  top: -2px;
  padding-left: 0.4rem;
}